@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
:root {
  --main-blue: #4e89ae;
  --second-blue: #43658b;
  --main-red: #ed6663;
  --main-orange: #ffa372;
  --bluecolor: rgba(33, 150, 243, 1);
  --redcolor: rgba(244, 67, 54, 1);
}
body {
  background-color: var(--main-blue);
  font-family: "Roboto", "Helvetica Neue";
}
header {
  position: relative;
  display: flex;
  background-color: var(--second-blue);
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  background: --var(--second-blue);
}
.nav-links li {
  padding: 5px 15px;
  list-style: none;
  display: inline-block;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: var(--main-orange);
  transition-duration: 2s;
}
.text-center {
  text-align: center;
}
#hello {
  padding: 200px 0 0 0;
  font-size: 42px;
}
#description {
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: thin;
}
#welcome-section {
  display: block;
  width: 100%;
  height: 600px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-section {
  background: var(--second-blue);
  padding: 4rem 2rem;
}
.project-section h2 {
  font-size: 42px;
  text-decoration: underline;
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

.code {
  color: white;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project img {
  max-width: 100%;
}
.project {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #3c546e;
  max-height: 500;
  align-items: center;
}
.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-blue);
  width: 100%;
  height: 10%;
  border-radius: 3px;
  box-shadow: 3px 6px #3c546e;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #ed6663;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn:hover {
  background-color: var(--main-orange);
}
.contact-section-header {
  width: 100%;
}
.contact-section-header h2 {
  display: flex;
  justify-content: center;
  font-size: 42px;
  margin: 5rem 0 0 0;
}
.contact-section-header p {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.flex-center {
  width: 100%;
  min-height: 40vh;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
  *:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px var(--redcolor), -5px -6px var(--bluecolor);
  }
  25% {
    text-shadow: -5px -6px var(--redcolor), 5px 4px var(--bluecolor);
  }
  50% {
    text-shadow: 5px -4px var(--redcolor), -8px 4px var(--bluecolor);
  }
  75% {
    text-shadow: -8px -4px var(--redcolor), -5px -4px var(--bluecolor);
  }
  100% {
    text-shadow: -5px 0 var(--redcolor), 5px -4px var(--bluecolor);
  }
}
footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
